/*
=======================================================================
CSS by Seth Akkerman
Hugely inspired by the organizational skills of Elliot Jay Stocks
Last updated: 03/17/2014
=======================================================================
Contents:
01 Sensible Defaults
02 Typography
	- Rendering
	- Ligatures
	- Families
	- Headings
	- Links
	- Paragraphs, Lists, Other
03 Weather Component
04 Basic Layout
05 Header
06 Media Queries
	- 600 up
	- 900 up
	- 1200 up
	- 1400 up
	- 1500 up
	- 1800 up
	- 2000 up
	- 2400 up
=======================================================================
*/

/*
=========================
 01 Sensible Defaults
=========================
*/

@import "reset.css";

* { -moz-box-sizing:border-box; -webkit-box-sizing:border-box; box-sizing:border-box; } /* Apply a natural box layout model to all elements see http://paulirish.com/2012/box-sizing-border-box-ftw */

div,
article,
section,
header,
footer,
nav,
figure,
li { position:relative; } /* For absolutely positioning elements within containers  */

body { background:#2A2d36; overflow:hidden; } 

/*
=========================
 02 Typography
=========================
*/

/*
  14 / 16 =     0.875em     (14px equivalent)
  16 / 16 =     1em         (16px equivalent)
  18 / 16 =     1.125em     (18px equivalent)
  21 / 16 =     1.3125em    (21px equivalent)
  24 / 16 =     1.5em       (24px equivalent)
  30 / 16 =     1.875em     (30px equivalent)
  72 / 16 =     4.5em       (72px equivalent)
  */
  
/* 02a - Rendering */
/* There seems to be a bug rendering fonts in mozilla on macs. The moz-osx css line fixed the visual issue. This may only be necessary when there is only one font served from typekit and the weights are specified by numerical values. */
html { -webkit-font-smoothing:antialiased; -moz-osx-font-smoothing: grayscale; }

/* 02b - Ligatures */
body { text-rendering:optimizeLegibility; }

/* 02c - Families */
body,
input /* don't have yet */ { color:#444749; font-family:"jaf-facitweb","Helvetica Neue", Helvetica, Arial, sans-serif; font-size:90%; line-height:1.65em; font-weight:400; font-style:normal; }

h1 { font-style:italic; font-weight:700; }

strong { color:#999999; font-weight:700; }

/* 02d- Headings */

/* 02e- Links */

/* 02f- Paragraphs, Lists, Other */
p,
li { padding:0em 0.125em; font-size:1.21em; line-height:1.55em; }
li { list-style:none; }
article ul li { list-style-type:disc; margin-left:1em; }
article ol li { list-style-type:upper-roman; margin-left:1em; }
blockquote p { border-left:10px solid rgba(0,0,0,0.05); font-size:1.5em; line-height:1.3125em; margin:0.5em 0; padding-left:1em; }
blockquote + p cite { display:block; margin-top:-1em; padding-bottom:1em; text-align:right; }
article.single p:first-child + p { font-size:1.875em; line-height:1.5em; }
code, 
pre { background:rgba(0,0,0,0.1); font-size:0.875em; }
pre { margin:0.5em 0; padding-left:1em; }
pre code { background:none; }
h2 + p { color:rgba(0,0,0,0.3); padding:1.5em 0; }
p.note { color:rgba(0,0,0,0.3); }
div.primary h2 { font-size:1em; }
p.note { padding-bottom:1em; }
p.continue { padding-top:2em; }
p.small-print { padding:8em 0 1em 0; }
cite { font-style:normal; }

/*
=========================
 03 Weather Component
=========================
*/


/*
=========================
 04 Basic Layout
=========================
*/
div.image_wrapper { width:100%; max-width:1250px; padding:0em; margin-top:0em; height:auto; margin: 0 auto; z-index:10; }
img { max-width:100%; display:block; position:absolute; top:0em; }

	/*SVG Tests*/
	
	/*
	http://www.w3schools.com/css/css3_3dtransforms.asp
	https://css-tricks.com/almanac/properties/a/animation/
	http://www.w3schools.com/css/css3_animations.asp
	https://sarasoueidan.com/blog/svg-coordinate-systems/
	https://css-tricks.com/restart-css-animation/
	*/
	.placement-image { display:none; position:relative; }
	
	div.month_svg_wrapper { width:80%; left:0; top:0; position:relative; margin:0 auto; overflow:hidden; margin-top:2em; margin-bottom:1em; }
	.overall-months { position:relative; /*top:176px;*/ /*left:0px;*/ width:100%;  z-index:2; }
	
	.replay-button { /*width:4em; height:2em;*/ position:relative; display:block; background-color:#8E8E8E; color: #000000; border:0; margin-left:1.4em; border-radius: 4px; cursor:pointer; z-index:3; padding:.25em .5em; /*Add Specified Padding To Fix Weird Text Shifting in Firefox on :active state*/
	-webkit-transition: all .2s ease-in-out; -moz-transition: all .2s ease-in-out; -o-transition: all .2s ease-in-out; transition: all .2s ease-in-out;
		-webkit-animation-name:showButton;
		animation-name:showButton; 
		opacity:0;
		-webkit-animation-duration:500ms;
		animation-duration:500ms;
		-webkit-animation-delay:6000ms;
		animation-delay:6000ms;
		-webkit-animation-timing-function:ease-in;
		animation-timing-function:ease-in;
		-webkit-animation-iteration-count:1;
		animation-iteration-count:1;
		-webkit-animation-direction:normal;
		animation-direction:normal;
		-webkit-animation-fill-mode: forwards;
		animation-fill-mode: forwards;
		visibility:hidden;
		outline:none;
	}
	.replay-button:hover { background-color:#FFFFFF; /*visibility:visible;*/ }
	.st26 {
		-webkit-animation-name:moveMonths;
		animation-name:moveMonths;
		
		-webkit-animation-duration:6000ms;	
		animation-duration:6000ms;	
		
		-ms-transform:translate3d(-869px, 0, 0) scale3d(1,1,1); /*IE*/
		-webkit-transform:translate3d(-869px, 0, 0) scale3d(1,1,1); /*Chrome, Safari, Opera*/
		-moz-transform:translate3d(-869px, 0, 0) scale3d(1,1,1); /*Firefox*/ /* Firefox Would Prefer -88.7% */ 
		transform:translate3d(-869px, 0, 0) scale3d(1,1,1); /*Safari likes -3115%*/
		
		-webkit-animation-fill-mode: forwards; /* Chrome, Safari, Opera */
		animation-fill-mode: forwards;
		
		-webkit-animation-timing-function:linear;
		animation-timing-function:linear;
	}
	
	@-webkit-keyframes moveMonths {
		0% {
			-ms-transform:translate3d(-869px, 0, 0); /*IE*/
			-webkit-transform:translate3d(-869px, 0, 0); /*Chrome, Safari, Opera*/
			-moz-transform:translate3d(-869px, 0, 0); /*Firefox*/ /* Firefox Would Prefer -88.7% */ 
			transform:translate3d(-869px, 0, 0); /*Chrome likes -3130%*/
		}
		/*8.333% {
			transform:translateX(-2869.17);
		}*/
		/*80% {
			transform:translateX(0%)
		}*/
		100% {
			-ms-transform:translate3d(0, 0, 0);
			-webkit-transform:translate3d(0, 0, 0);
			-moz-transform:translate3d(0, 0, 0);
			transform:translate3d(0, 0, 0);
		}
	}
	
	@keyframes moveMonths {
		0% {
			-ms-transform:translate3d(-869px, 0, 0); /*IE*/
			-webkit-transform:translate3d(-869px, 0, 0); /*Chrome, Safari, Opera*/
			-moz-transform:translate3d(-869px, 0, 0); /*Firefox*/ /* Firefox Would Prefer -88.7% */ 
			transform:translate3d(-869px, 0, 0); /*Chrome likes -3130%*/
		}
		/*8.333% {
			transform:translateX(-2869.17);
		}*/
		/*80% {
			transform:translateX(0%)
		}*/
		100% {
			-ms-transform:translate3d(0, 0, 0);
			-webkit-transform:translate3d(0, 0, 0);
			-moz-transform:translate3d(0, 0, 0);
			transform:translate3d(0, 0, 0);
		}
	}
	
	div.map_svg_wrapper {
		width:108%;
		margin:0 auto;
		margin-left:3%;
		position:relative;
		/*op:4.5em;*/
		overflow:hidden;
	}
	
	.map-and-key { -webkit-transform:translate3d(-320px, 40px, 0); transform:translate3d(-320px, 40px, 0); }
	.overall-map { -webkit-transform:translate(1.3%, -1.2%); transform:translate(1.3%, -1.2%);/*transform:scale3d(.78, .78, .78);*/ z-index:1; position:relative; width:100%; -webkit-transform-origin:0% 0%;transform-origin:0% 0%; /*top:-135px; left:-69px;*/ }

	.show-months {
		-webkit-animation-name:showMonths;
		animation-name:showMonths;
		
		opacity:0;
		
		-webkit-animation-duration:500ms;
		animation-duration:500ms;
		
		-webkit-animation-timing-function:ease-in;
		animation-timing-function:ease-in;
		
		-webkit-animation-iteration-count:1;
		animation-iteration-count:1;
		
		-webkit-animation-direction:normal;
		animation-direction:normal;
		
		-webkit-animation-fill-mode: forwards;
		animation-fill-mode: forwards;
	}
	g#January {
	}
	g#February {
		-webkit-animation-delay:500ms;
		animation-delay:500ms;
	}
	g#March {
		-webkit-animation-delay:1000ms;
		animation-delay:1000ms;
	}
	g#April {
		-webkit-animation-delay:1500ms;
		animation-delay:1500ms;
	}
	g#May {
		-webkit-animation-delay:2000ms;
		animation-delay:2000ms;
	}
	g#June {
		-webkit-animation-delay:2500ms;
		animation-delay:2500ms;
	}
	g#July {
		-webkit-animation-delay:3000ms;
		animation-delay:3000ms;
	}
	g#August {
		-webkit-animation-delay:3500ms;
		animation-delay:3500ms;
	}
	g#September {
		-webkit-animation-delay:4000ms;
		animation-delay:4000ms;
	}
	g#October {
		-webkit-animation-delay:4500ms;
		animation-delay:4500ms;
	}
	g#November {
		-webkit-animation-delay:5000ms;
		animation-delay:5000ms;
	}
	g#December {
		-webkit-animation-delay:5500ms;
		animation-delay:5500ms;
	}
	
	@-webkit-keyframes showMonths {
		from { opacity:0; }
		to { opacity:1; }	
	}
	
	@keyframes showMonths {
		from { opacity:0; }
		to { opacity:1; }	
	}
	
	@-webkit-keyframes showButton {
		0% {
			opacity:0;
			visibility:hidden;
		}
		100% {
			opacity:1;
			visibility:visible;
		}
	}
	
	@keyframes showButton {
		0% {
			opacity:0;
			-webkit-visibility:hidden;
			visibility:hidden;
		}
		100% {
			opacity:1;
			-webkit-visibility:visible;
			visibility:visible;
		}
	}
	
	
	/*Tooltip Styles*/
	.tool:hover {
    cursor: pointer;
	}
	.tooltip {
  		position: absolute;
  		top:0;
		left:0;
		display: none;
  		z-index: 3;
  		color: #DBD06C;
	}
/*
=========================
 05 Header
=========================
*/


/*
=========================
 06 Media Queries (mobile first approach)
=========================
*/

/* 06a- 600 up */
@media screen and (min-width:600px) {

	div.month_svg_wrapper { width:42%; left:5%; top:7%; position:absolute; margin-top:0em; margin-bottom:0em; }
	
}

/* 06b- 900 up */
@media screen and (min-width:900px) {
	div.map_svg_wrapper {
		width:90%;
		margin:0 auto;
		top:0;
		left:0;
	}
	.map-and-key { -webkit-transform:translate3d(0, 0, 0); transform:translate3d(0, 0, 0); }
	div.month_svg_wrapper { width:32.9%; left:5.3%; top:8%; }
	
}

@media screen and (min-width:1500px) {
	div.image_wrapper { max-width:1500px; }	
}

